@import 'bootstrap-sprockets';
@import 'bootstrap';

$white: #fff;

$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-midium-light: #eaeaea;

// universal

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  margin-bottom: 30px;
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  color: $gray-dark;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

#logo {
  margin-right: 10px;
  padding-top: 9px;
  float: left;
  color: $white;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

// footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-midium-light;
  color: $gray-light;

  a {
    color: $gray;

    &:hover {
      color: $gray-dark;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      margin-left: 15px;
      float: left;
    }
  }
}
